.icone_sub-menu{
    display: none;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #000;
}

.menu_projetos{
    display: none;
    width: 60px;
    height: 60px;
    position: absolute;
    z-index: 99;
    background: url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSaiHIhEibEUVRoSOBsRCnr2IW7K4csc3urm6adfCyb8ofHYcxU) no-repeat center / cover;
    margin-left: 20px;
   border-radius: 10px;
   box-shadow: 1.5px 2.5px 10px #000;
   cursor: pointer;
   transition: all 0.3s;
}

@media(max-width:765px){
    .icone_sub-menu{
        display: flex;
    }
    .menu_projetos{
        display: flex;
    }
}

.menu_projetos:hover{
    transform: scale(1.1);
}
.menu_projetosBackground {
    background: url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSBaEWpLsL02MEcxU9vxNbqoXeYcUpjxyb9KjNdmhSpTTn4WCyc) no-repeat center / cover;
}

.projetos_sub-menu ul h3{
    padding: 4px 10px;
    border: solid 2px #000;
    box-shadow: 1px 2px 8px #000000cb;
    border-radius: 10px;
}

.projetos_sub-menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    list-style: none;
    background-color: var( --color--lorange);
    gap: 18px;
    padding: 10px;
    box-shadow: 0px 2px 10px #000;
    position: relative;
    z-index: 2;
}


.projetos_sub-menu ul li{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--color--white);
    font-weight: 600;
    transition: all 0.3s;
    font-size: 0.7rem;
}


.projetos_sub-menu .projeto_ativo, 
.projetos_sub-menu ul li:hover{
    color: var(--color--black);
}

.projetos_sub-menu ul li img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.projetos_container .meu_iframe{
    width: 100%;
    height: calc(100vh);


}



@media(max-width:765px){
    .projetos_sub-menu ul{
        display: block;
        width: 180px;
        position: absolute;
        left: -180px;
        text-align: center;
        padding: 20px;
        transition: all 0.4s;
    }
 
    .projetos_sub-menu ul li{
        flex-direction: row;

    }
    .projetos_sub-menu ul li img{
        margin-right: 10px;
        margin-top: 10px;
    }

    .projetos_container .meu_iframe{
        position: absolute;
        height: 100%;
        right: 0;

    }
 
}