header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
  }

  .menu_mobile{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: url(https://th.bing.com/th/id/OIP.3MFacdDKkXvoMuj9fOsZCgAAAA?pid=ImgDet&w=193&h=193&c=7) no-repeat center / cover ;
    display: none;
    transition: all 0.4s;
    box-shadow:  0px 1.5px 3px 1px #000 ;
  }

  .menu_toggle{
    background: url(../../image/icone_x01.png) no-repeat center / cover ;
  }

  .toggle_dark{
    display: flex;
    align-items: center;
    width: 40px;
    height: 20px;
    border-radius: 20px;
    box-shadow:  0px 1.5px 3px 1px #000 ;
    background-color: #ff7700;
  
  }

  @media(max-width:630px){
    .menu_mobile{
      display:flex;
    }
    .toggle_dark{
      position: absolute;
      right: 100px;
    }
  }

  .toggle_icone{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px #000, 0px 0px 10px #FF7A00;
    cursor: pointer;
    background: var(--meu-sol-after-background) ;
    transition: all 0.4s;
  }

  .toggle_icone:hover{
    box-shadow: 2px 2px 5px #000, 0px 0px 10px #ff7700, 0px 0px 30px #ff8800cc ;
  }

  .toggle_icone_fundo{
    background:url(../../image/lua.jpeg) no-repeat center / cover;
    margin-left: 20px;

  }

  header .sobre {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    cursor: pointer;
    z-index: 1;
    color: var( --color--sinze);
  }
  header .icone_nave{
    background: url(../../image/nave.png) no-repeat center / cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    bottom: 40px;
    cursor: pointer;
    z-index:4;
    transition: all 0.7s ease;
    animation: anima 0.4s alternate-reverse ease infinite;
   
  }

 @keyframes anima {
    0%{
      margin-bottom: 3px;
    }
    100%{
      margin-bottom: 0px;
    }
  }

  .nave_rotate{
    transform: rotate(180deg);
  }

  .nav_bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100vw;
    padding: 0px 30px;
    border-bottom: 3px solid var(--color--border);
    position: fixed;
    z-index: 111;
    background-color: var(--backg--color);
  }
  
  .nav_bar .logo{
    font-family: var( --font--family--logo) ;
    text-shadow: 1px 3px 3px #000000bb;
    font-size: 2rem;
    letter-spacing: 5px;

  }

  .ativo{
    color: var(--menu--color--ativo);
  }
  
  .nav_bar ul, ul a{
    display: flex;
    list-style: none;
    text-decoration: none;
    font-weight: 900;
    color: var( --color--sinze);
    font-size: 1rem;
    gap: 30px;
    letter-spacing: 1.4px;
    cursor: pointer;
    transition: all 0.3s;
  }
  .nav_bar ul, ul a:hover{
    color: var(--menu--color--ativo);
  }

  @media(max-width:630px){
    nav{
        display:flex;
        justify-content: center;
        position:fixed;
        width: 160px;
        height: calc(100vh - 50px);
        right: -160px;
        top: 50px;
        background-color: rgba(255, 255, 255, 0.568);
        z-index:100;
        transition: all 0.4s;
        opacity: 0.8;
    }

    .nav_bar ul{
      display: block;
      margin-top: 20px;
    }

    .nav_bar a{
      display: flex;
      justify-content: center;
      margin-top: 20px;
 
    
    }
 }
 


