.banner{
    display: flex;
    flex-wrap: wrap-reverse;
    height: calc(100vh);
    width: 100%;
}

.container_left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 450px;
}
.banner_text_area h3{
    color: var(--color--sinze);
    font-size: 1.8rem;
    font-weight:bolder;
}
.banner_text_area h1{
    color: var(--title);
    font-size: 2.5rem;
    font-weight:bolder;
}
.banner_text_area p{ 
    color: var(--color--sinze);
    font-size: 2rem;
    font-weight:500;
}
.banner_btns_area{
    padding-top: 20px;
    display: flex;
    gap: 30px;
}

.banner_btns_area .dowload,
 .banner_btns_area .contato {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 40px;
    border-radius: 20px;
    text-decoration: none;
    color: var(--color);
    font-weight: 700;
    border: solid 2px  var(--color--border);
    transition: all 0.3s;
    box-shadow: 1px 3px 10px #000000cb;
}
.banner_btns_area .dowload:hover,
 .banner_btns_area .contato:hover{
    transform: scale(1.1);
}
.banner_btns_area .dowload{
    background-color: var(--backg--color--btn);
    color: var(--color--white);
}

.area_rede_sociais{
    padding: 20px 0px;
    margin-bottom: 20px;
}

.area_rede_sociais img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
    transition: all 0.2s;
    box-shadow: 1px 3px 10px #000000c5;
}
.area_rede_sociais img:hover{
    transform: scale(1.1);
}

.container_right{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 450px;
    padding: 10px;
}

.container_right img {
    width: 350px;
    height: 350px;
    border-radius: 50% ;
    animation: border_animation 1s alternate-reverse infinite;
    border: solid 2px var(--color--border);
}

@media(max-width:970px){
    .container_right img {
        width: 240px;
        height:240px;
    }
}


@media(max-width:902px){
    .container_right {
        min-width: 390px;
    }
    .container_right img {
        width: 270px;
        height:270px;
    }
    .container_left{
        min-width: 390px;
        padding: 10px;
    }
    .banner_text_area h1{
        font-size: 2.1rem;
     
    }
}

@media(min-width:600px) and (max-width:950px){
    .banner{
        padding-top: 20px;
    }
    .container_right  {
        padding-top: 40PX;
    }
    .container_right img {
        width: 180px;
        height:180px;
    }

    .container_right {
        min-width: 300px;
    }

    .container_left{
        justify-content:center;
        min-width: 300px;

    }

    .banner_text_area h3{
        font-size: 1rem;
    }
    .banner_text_area h1{
        font-size: 1.4rem;
     
    }
    .banner_text_area p{ 
        font-size: 1.5rem;
    }
    .banner_btns_area{
        padding-top: 20px;
        display: flex;
        gap: 10px;
    }
    .banner_btns_area .dowload,
    .banner_btns_area .contato {
        width: 130px;
        font-size: 0.9rem;
    }
}

@media(max-width:599px){
    .container_right  {
       padding-top: 60px;
    }
    .container_left{
        justify-content: flex-start;
    }
 
    .container_right img {
        width: 180px;
        height:180px;

    }
}

@media(max-width:458px){
    .container_right {
        min-width: 290px;
    }
    .container_left{
        min-width: 290px; 
    }
}

@media(max-width:440px){

    .banner{
        height: calc(100vh - 50px);
    }
    .container_right img {
        width: 200px;
        height:200px;
    }
    .banner_text_area{
        text-align: center;
    }
    .banner_text_area h3{
        font-size: 1.4rem;
    }
    .banner_text_area h1{
        font-size: 2rem;
     
    }
    .banner_text_area p{ 
        font-size: 1.6rem;
    }
    .banner_btns_area{
        padding-top: 20px;
        display: flex;
        gap: 20px;
    }
}

@media(max-width:350px){
    .banner_text_area h1{
        font-size: 1.5rem;
     
    }
    .banner_btns_area{
        gap: 10px;
    }
}

@keyframes border_animation {
    0%{
        box-shadow: 0px 0px 10px  #ff7b00; 
    }
    30%{
        box-shadow:0px 0px 20px 5px#ff7d03f1; 
    }
    59%{
        box-shadow: 0px 0px 35px  #ff7b00e3 ;
    }
    60%{
        box-shadow: 0px 0px 50px 5px #ff7c02cc ;
    }
  
    100%{
        box-shadow:0px 0px 60px  #ff7b00d7 ;
    }
}